* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.main-header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.gap {
  width: 600px;
  height: 20px;
}
.header-logo {
  display: flex;
  max-height: 100px;
  width: fit-content;
  justify-content: left;
  align-content: flex-start;
  padding: 15px;
}
.header-main-nav {
  display: flex;
  width: auto;

  justify-content: end;
}
.header {
  display: inline-block;
  vertical-align: middle;
}
.main-nav {
  text-align: right;
  width: 80%;
}
.nav_item {
  display: inline-block;
  padding: 15px;
  padding-top: 30px;
  margin: 0;
}
.nav_item a {
  font-size: 20px;
  text-decoration: none;

  color: rgb(16, 11, 11);
  transition: 0.3s;
}
.nav_item a:hover {
  color: #0066ff;
  background-color: white;
}

.first-Part {
  height: 1000px;
  background-image: linear-gradient(
      to right,
      rgb(7 90 174 / 90%),
      rgb(0 123 247 / 0%)
    ),
    url(assets/DP.jpg);
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.first-container {
  position: relative;
  left: 188px;
  top: 255px;
  width: 635px;
  height: 532px;
  padding: 15px;
}
.first-container-h1 {
  font-size: 3.75rem;
  line-height: 1.25;
  font-weight: 500;
  padding-bottom: 15px;
  color: #f4f6f6;
  margin: 0;
}
.first-container-p {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.72;
  color: #f4f6f6;
  padding-bottom: 15px;
}
.first-container-button {
  color: #067ae0;
  background-color: #f4f6f6;
  font-size: 0.9375rem;
  font-weight: 500;
  border-radius: 0;
  padding-top: 18px;
  padding-right: 38px;
  padding-bottom: 18px;
  padding-left: 38px;
  border: 0;
  font-family: inherit;
  cursor: pointer;
  transition: 0.3s;
}
.first-container-button:hover {
  background-color: #067ae0;
  color: #f4f6f6;
}
.first-container-button__special {
  background-color: #075aae;
  color: white;
  margin-left: 3px;
  transition: 0.3s;
}
.first-container-button__special:hover {
  background-color: #067ae0;
  color: white;
}
.first-Part-image-container {
  text-align: center;
  padding: 20px 0px;
  background-color: #f4f6f6;
}
.h3-div {
  font-size: 21px;
  margin: 0;
  line-height: 1.4;
  margin-bottom: 20px;
  font-weight: 500;
}
.image {
  display: inline-block;
  padding: 10px 8px;
}
.image img {
  vertical-align: middle;
  width: 160px;
}

.second-part {
  padding: 80px 90px;
}
.second-part-container {
  padding: 15px;
}
.second-part-h2 {
  text-align: center;
  margin: 0;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 25px;
}
.second-part-p {
  margin-bottom: 2.6em;
  text-align: center;
  padding: 0px 300px;
  line-height: 1.72;
}
.card-container {
  text-align: center;
  vertical-align: middle;
}
.cards {
  text-align: left;
  display: inline-block;
  height: 516.67px;
  width: 350px;
  padding: 60px 40px;
  background-color: #075aae;
  color: #f4f6f6;
}
.first-card {
  margin-right: 15px;
}
.second-card {
  margin: 0px 10px;
}
.third-card {
  margin-left: 15px;
}
.cards-text-container {
  padding: 10px;
  margin-top: 15px;
}
.cards-hr {
  border-bottom: 1px solid #067ae0;
  width: 50px;
}
.cards-h2 {
  font-size: 40px;
  line-height: 1.3;
  font-weight: 500;
  margin: 23px 0px;
}
.cards-p {
  margin-bottom: 1.6em;
  line-height: 1.72;
  margin-bottom: 45px;
}
.cards-button {
  background-color: #075aae;
  color: white;
  border: 1px solid white;
  font-family: inherit;
  padding: 18px 38px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.cards-button:hover {
  background-color: white;
  color: #075aae;
  border: 1px solid #075aae;
}
.extra-cards {
  display: inline-block;
  background-color: #f4f6f6;
  height: 470.65px;
  text-align: left;
}
.advice-card {
  position: relative;
  width: 355px;
  padding: 30px 40px;
  margin-top: 20px;
  margin-right: 15px;
  bottom: 10px;
  right: 2px;
}
.advice-card button,
.ebook-card button {
  font-size: 0.9375rem;
  background-color: #075aae;
  color: white;
  padding: 18px 38px;
  font-family: inherit;
  border: 0;
  cursor: pointer;
}
.image-card {
  width: 185.18px;
  padding: 10px;
  position: relative;
  bottom: 165px;
  left: 10px;
}
.image-card > img {
  width: 165px;
  position: relative;
  height: 227px;
  top: 215px;
  right: 6px;
}
.ebook-card {
  position: relative;
  width: 540px;
  padding: 70px 50px 0 40px;
  bottom: 65px;
  left: 3px;
}
.ebook-card h3 {
  line-height: 1.4;
  margin: 0;
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 25px;
}

.third-part-div {
  background-color: #067ae0;
  height: 621.54px;
  margin: 0;
  background-image: linear-gradient(to left, #075aae 20%, rgb(0 123 247 / 0%)),
    url(assets/testimonials.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.third-part-text-container {
  position: relative;
  left: 765px;
  top: 165px;
  padding: 10px;
  text-align: left;
  width: 555px;
  height: 291.55px;
}
.third-part-h2 {
  color: #f4f6f6;
  font-size: 40px;
  padding-bottom: 20px;
  margin: 0;
  line-height: 1.3;
  font-weight: 500;
}
.third-part-p {
  color: #f4f6f6;
  font-size: 16px;
  line-height: 1.72;
  font-weight: 400;
  margin-bottom: 35px;
}
.third-part-hr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.53);
  width: 50px;
  margin-bottom: 35px;
}

.fourth-part {
  height: 899.33px;
  padding: 80px 0px;
  background-color: #f4f6f6;
  align-items: center;
}
.fourth-part-div {
  padding: 15px;
  height: 739.33px;
  width: 1140px;
  margin: 50px auto;
  background-color: #f4f6f6;
}
.fourth-part-text-container {
  position: relative;
  bottom: 90px;
  left: 4px;
  display: inline-block;
  background-color: white;
  height: 610px;
  width: 661px;
  padding: 60px;
}
.fourth-part-text-container h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 20px;
}
.fourth-part-text-container p {
  font-size: 16px;
  line-height: 1.72;
  margin-bottom: 2.62em;
}
.fourth-part-text-container button {
  font-size: 15px;
  padding: 18px 38px;
  background-color: #075aae;
  color: white;
  font-weight: 400;
  border: 0;
  font-family: inherit;
  cursor: pointer;
}
.fourth-part-image-container {
  display: inline-block;
  background-color: white;
  height: 614px;
}
.fourth-part-image-container img {
  width: 444px;
  height: 614px;
}

.fifth-part {
  background-color: #075aae;
  height: 360px;
  padding: 100px 30px;
}
.fifth-part-div {
  width: 50%;
  margin: 20px auto;
}
.fifth-part-div h2 {
  font-size: 40px;
  color: #f4f6f6;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}

.footer {
  background-color: #f4f6f6;
  padding: 30px;
  vertical-align: middle;
  text-align: center;
}
.footer p {
  margin: 0;
  display: inline-block;
  line-height: 1.72;
}
.footer-copyright {
  position: relative;
  right: 420px;
}
.footer-powered-by {
  position: relative;
  left: 420px;
}
.blue-button {
  background-color: #075aae;
  color: white;
  border: 1px solid white;
  font-family: inherit;
  padding: 18px 38px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.blue-button:hover {
  background-color: #0166cb;
  color: white;
}
